**Objetivo:** Hacer una sola tabla de SDSS e IRAS con las razones:
        
ejey_OHb=np.log((FusionData['oiii_5007_flux'])/(FusionData['h_beta_flux']))
ejex_NH=np.log((FusionData['nii_6548_flux']+FusionData['nii_6584_flux'])/FusionData['h_alpha_flux'])
ejex_SH=np.log((FusionData['sii_6717_flux']+FusionData['sii_6731_flux'])/FusionData['h_alpha_flux'])
ejex_OH=np.log((FusionData['oi_6300_flux'])/(FusionData['h_alpha_flux']))
y  
Log_12_25=np.log(FusionData['rat_12_25'])

In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt

from mpl_toolkits.mplot3d import Axes3D
import numpy as np

In [2]:
# Importando Cruce entre SDSS e IRAS
%run "C:\Users\Cristina Quiazúa M\Desktop\MyBPT\Crossmatching\2. Cruce entre SDSS e IRAS.ipynb"

Could not import regions, which is required for some of the functionalities of this module.
Valores duplicados en la columna 'ra': [132.58559 179.51375 185.48906 351.8132 ]
Índices de los valores duplicados en la columna 'ra': Int64Index([4105, 5929, 6215, 11228], dtype='int64')
Índices de TODAS las ocurrencias de valores duplicados en la columna 'ra': Int64Index([4100, 4105, 5928, 5929, 6213, 6215, 11227, 11228], dtype='int64')

C:\ProgramData\Anaconda33\lib\site-packages\astroquery\sdss\core.py:874: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  arr = np.atleast_1d(np.genfromtxt(io.BytesIO(response.content),

Número de valores únicos: 293697
Número de valores repetidos 1 vez: 14895
Número de valores repetidos 2 veces: 1239
Número de valores repetidos 3 veces: 211
Número de valores repetidos 4 veces: 242
Número de valores repetidos 5 veces: 45
Número de valores repetidos 6 veces: 14
Número de valores repetidos 7 veces: 3
Número de valores repetidos 8 veces: 0
Número de valores repetidos 9 veces: 0
Número de valores repetidos 10 veces: 0
Valores duplicados en la columna 'ra': [146.9639  146.94999 146.63167 ... 257.38367 258.13561 257.98823]
Índices de los valores duplicados en la columna 'ra': Int64Index([     5,      7,      8,      9,     10,     12,     15,     18,
                20,     22,
            ...
            329098, 329099, 329100, 329102, 329103, 329116, 329285, 329438,
            329439, 329576],
           dtype='int64', length=19304)
Índices donde el valor de 'ra' es igual a 145.51241: Int64Index([167, 170], dtype='int64')

In [3]:
FusionData[0:5]

,ra_sdss,dec_sdss,ra_iras,dec_iras,specobjid,z,h_alpha_flux,h_beta_flux,oiii_5007_flux,nii_6548_flux,...,class,subclass,galname,fnu_12,fnu_25,fnu_60,fnu_100,rat_12_25,rat_25_60,rat_60_100
0,145.51241,0.339171,145.513947,0.337522,299595780317014016,0.006379,153.8173,35.59267,3.656026,13.19764,...,b'GALAXY',b'STARBURST',09394+0033,0.35,0.50,5.16,15.08,0.700000,0.096899,0.342175
1,167.23240,0.444804,167.234604,0.444661,313129123717343232,0.012902,10285.9400,3250.79100,6074.062000,578.00410,...,b'GALAXY',b'STARBURST',11063+0042,0.42,0.27,0.82,1.01,1.555556,0.329268,0.811881
2,169.70646,0.619308,169.707565,0.617749,314283887213701120,0.025391,528.2295,139.90980,34.019120,62.50361,...,b'GALAXY',b'STARFORMING',11162+0053,0.25,0.50,0.75,1.79,0.500000,0.666667,0.418994
3,170.82587,-0.922475,170.826675,-0.921258,315274540949202944,0.008394,998.6539,263.62670,358.444700,54.00912,...,b'GALAXY',b'STARBURST',11207-0038,0.29,0.49,1.22,2.83,0.591837,0.401639,0.431095
4,169.38707,-0.187502,169.385590,-0.186404,315334739210823680,0.040338,520.6220,74.79313,28.152840,74.78139,...,b'GALAXY',b'STARFORMING',11149+0005,0.35,0.43,0.68,2.10,0.813953,0.632353,0.323810

In [4]:
len(FusionData)

1269

In [5]:
type(FusionData)

pandas.core.frame.DataFrame

In [6]:
nombres_columnas = FusionData.columns.tolist()
nombres_columnas

['ra_sdss',
 'dec_sdss',
 'ra_iras',
 'dec_iras',
 'specobjid',
 'z',
 'h_alpha_flux',
 'h_beta_flux',
 'oiii_5007_flux',
 'nii_6548_flux',
 'nii_6584_flux',
 'sii_6717_flux',
 'sii_6731_flux',
 'oi_6300_flux',
 'class',
 'subclass',
 'galname',
 'fnu_12',
 'fnu_25',
 'fnu_60',
 'fnu_100',
 'rat_12_25',
 'rat_25_60',
 'rat_60_100']

## Razones

In [7]:
ejey_OHb=np.log((FusionData['oiii_5007_flux'])/(FusionData['h_beta_flux']))

ejex_NH=np.log((FusionData['nii_6548_flux']+FusionData['nii_6584_flux'])/FusionData['h_alpha_flux'])
ejex_SH=np.log((FusionData['sii_6717_flux']+FusionData['sii_6731_flux'])/FusionData['h_alpha_flux'])
ejex_OH=np.log((FusionData['oi_6300_flux'])/(FusionData['h_alpha_flux']))

In [8]:
type(ejey_OHb)

pandas.core.series.Series

In [9]:
# Crea un diccionario con las nuevas columnas y sus nombres
nuevas_columnas = {
    "Ejey_OHb": ejey_OHb,
    "Ejex_NH": ejex_NH,
    "Ejex_SH": ejex_SH,
    "Ejex_OH": ejex_OH
}

In [10]:
# Convierte el diccionario en un DataFrame
df_nuevas_columnas = pd.DataFrame(nuevas_columnas)

In [11]:
# Concatena el DataFrame df_nuevas_columnas con el DataFrame FusionData
FusionData = pd.concat([FusionData, df_nuevas_columnas], axis=1)

In [12]:
FusionData[0:3]

,ra_sdss,dec_sdss,ra_iras,dec_iras,specobjid,z,h_alpha_flux,h_beta_flux,oiii_5007_flux,nii_6548_flux,...,fnu_25,fnu_60,fnu_100,rat_12_25,rat_25_60,rat_60_100,Ejey_OHb,Ejex_NH,Ejex_SH,Ejex_OH
0,145.51241,0.339171,145.513947,0.337522,299595780317014016,0.006379,153.8173,35.59267,3.656026,13.19764,...,0.50,5.16,15.08,0.700000,0.096899,0.342175,-2.275763,-1.065383,-1.694790,-5.024607
1,167.23240,0.444804,167.234604,0.444661,313129123717343232,0.012902,10285.9400,3250.79100,6074.062000,578.00410,...,0.27,0.82,1.01,1.555556,0.329268,0.811881,0.625129,-1.488608,-1.481473,-4.039606
2,169.70646,0.619308,169.707565,0.617749,314283887213701120,0.025391,528.2295,139.90980,34.019120,62.50361,...,0.50,0.75,1.79,0.500000,0.666667,0.418994,-1.414075,-0.743963,-1.261980,-3.489259

## Log de rat_12_25

In [13]:
Log_12_25=np.log(FusionData['rat_12_25'])

In [14]:
Log_12_25[0:3]

0   -0.356675
1    0.441833
2   -0.693147
Name: rat_12_25, dtype: float32

In [15]:
# Crea un diccionario con la nueva columna y su nombre
nueva_columna = {
    "Log_12_25": Log_12_25
}

# Convierte el diccionario en un DataFrame
df_nueva_columna = pd.DataFrame(nueva_columna)

# Concatena el DataFrame df_nueva_columna con el DataFrame FusionData
FusionData = pd.concat([FusionData, df_nueva_columna], axis=1)

In [16]:
FusionData[0:3]

,ra_sdss,dec_sdss,ra_iras,dec_iras,specobjid,z,h_alpha_flux,h_beta_flux,oiii_5007_flux,nii_6548_flux,...,fnu_60,fnu_100,rat_12_25,rat_25_60,rat_60_100,Ejey_OHb,Ejex_NH,Ejex_SH,Ejex_OH,Log_12_25
0,145.51241,0.339171,145.513947,0.337522,299595780317014016,0.006379,153.8173,35.59267,3.656026,13.19764,...,5.16,15.08,0.700000,0.096899,0.342175,-2.275763,-1.065383,-1.694790,-5.024607,-0.356675
1,167.23240,0.444804,167.234604,0.444661,313129123717343232,0.012902,10285.9400,3250.79100,6074.062000,578.00410,...,0.82,1.01,1.555556,0.329268,0.811881,0.625129,-1.488608,-1.481473,-4.039606,0.441833
2,169.70646,0.619308,169.707565,0.617749,314283887213701120,0.025391,528.2295,139.90980,34.019120,62.50361,...,0.75,1.79,0.500000,0.666667,0.418994,-1.414075,-0.743963,-1.261980,-3.489259,-0.693147

In [17]:
nombres_columnas = FusionData.columns.tolist()
nombres_columnas

['ra_sdss',
 'dec_sdss',
 'ra_iras',
 'dec_iras',
 'specobjid',
 'z',
 'h_alpha_flux',
 'h_beta_flux',
 'oiii_5007_flux',
 'nii_6548_flux',
 'nii_6584_flux',
 'sii_6717_flux',
 'sii_6731_flux',
 'oi_6300_flux',
 'class',
 'subclass',
 'galname',
 'fnu_12',
 'fnu_25',
 'fnu_60',
 'fnu_100',
 'rat_12_25',
 'rat_25_60',
 'rat_60_100',
 'Ejey_OHb',
 'Ejex_NH',
 'Ejex_SH',
 'Ejex_OH',
 'Log_12_25']