In [1]:
from datetime import date
import time
import pyvo
import numpy as np
import pandas as pd
import astropy.units as u
from astropy.table import Table
from astropy.table import hstack
from astropy.coordinates import SkyCoord
from matplotlib import pyplot as plt

In [2]:
service = pyvo.dal.TAPService ('https://irsa.ipac.caltech.edu/TAP')
result = service.run_async("""
            SELECT
            galname,
            ra,
            dec,
            fnu_12,
            fnu_25,
            fnu_60,
            fnu_100,
            rat_12_25,
            rat_25_60,
            rat_60_100
            
            FROM irasgal
            ORDER BY galname ASC""")
table = result.to_table()

In [3]:
type(table)

astropy.table.table.Table

In [4]:
table

<Table length=11444>
 galname      ra      dec     fnu_12 ... fnu_100 rat_12_25 rat_25_60 rat_60_100
           degrees  degrees     Jy   ...    Jy
  object   float32  float32  float32 ... float32  float32   float32   float32
---------- -------- -------- ------- ... ------- --------- --------- ----------
00000-0359   0.6448  -3.7105    0.25 ...    2.49    0.7576    0.2727     0.4859
00001+0827   0.6663   8.7373    0.25 ...    1.19    0.8929    0.4000     0.5882
00003+0313   0.7196   3.5042    0.25 ...    1.12    0.7812    0.6154     0.4643
00003-3431   0.7281 -34.2385    1.06 ...    2.57    4.2400    0.3125     0.3113
00005+2140   0.7878  21.9597    0.25 ...    4.51    0.2381    0.2471     0.9424
00005-0211   0.7727  -1.9155    0.25 ...    2.60    0.4464    0.6364     0.3385
00007+0320   0.8188   3.6212    0.25 ...    1.68    0.8621    0.5000     0.3452
00007+0820   0.8386   8.6131    0.69 ...    1.23    1.1129    1.1481     0.4390
00008+0526   0.8543   5.7137    0.25 ...    1.83    0.2747    1.5424     0.3224
       ...      ...      ...     ... ...     ...       ...       ...        ...
23579+2602   0.1311  26.3236    0.42 ...    2.14    1.6800    0.2336     0.5000
23579+3230   0.1238  32.7850    0.25 ...    0.91    1.0000    0.3731     0.7363
23587+1249   0.3349  13.1109    0.25 ...    4.33    0.6944    0.1714     0.4850
23589+1104   0.3757  11.3453    0.25 ...    1.86    0.6250    0.4598     0.4677
23590+3316   0.4001  33.5611    0.41 ...    1.16    0.9111    0.9574     0.4052
23591+2312   0.4234  23.4945    0.38 ...   14.29    0.5672    0.1225     0.3828
23594+3622   0.4926  36.6495    0.25 ...    5.72    0.6757    0.0740     0.8741
23594-3344   0.5101 -33.4696    0.25 ...    1.99    0.7353    0.3696     0.4623
23596+0239   0.5424   2.9428    0.25 ...    3.18    0.8065    0.1792     0.5440
23597+1241   0.5789  12.9712    0.25 ...    7.12    0.5682    0.1337     0.4621

In [5]:
columna_galname = table['galname']

In [6]:
columna_galname

<MaskedColumn name='galname' dtype='object' description='Source name' length=11444>
00000-0359
00001+0827
00003+0313
00003-3431
00005+2140
00005-0211
00007+0320
00007+0820
00008+0526
00009-1101
00010+2255
00012+0712
       ...
23576+0050
23577-8104
23579+2602
23579+3230
23587+1249
23589+1104
23590+3316
23591+2312
23594+3622
23594-3344
23596+0239
23597+1241

In [7]:
# Convertir la columna en un array NumPy
datos_galname = columna_galname.data

In [8]:
# Obtener los valores duplicados
valores_duplicados = np.unique(datos_galname, return_counts=True)
valores_duplicados = valores_duplicados[0][valores_duplicados[1] > 1]

In [9]:
valores_duplicados

masked_array(data=[],
             mask=[],
       fill_value='?',
            dtype=object)

In [10]:
# Imprimir los valores duplicados
print("Valores duplicados en la columna 'galname':")
print(valores_duplicados)

Valores duplicados en la columna 'galname':
[]