In [1]:
import numpy as np
import pandas as pd
import time
import pyvo
import warnings
import astropy.units as u
import matplotlib.pyplot as plt
from datetime import date
from astropy.table import Table
from astropy.table import hstack
from astroquery.sdss import SDSS
from astropy.coordinates import SkyCoord
from matplotlib import pyplot as plt
from astropy import coordinates, units as u
from astroquery.xmatch import XMatch

Could not import regions, which is required for some of the functionalities of this module.

In [2]:
query = """SELECT TOP 20000
    s.specobjid, s.ra, s.dec, s.z, g.h_alpha_flux, g.h_beta_flux,
    g.oiii_5007_flux, g.nii_6548_flux, g.nii_6584_flux,
    g.sii_6717_flux, g.sii_6731_flux, g.oi_6300_flux, s.class, s.subclass

    FROM SpecObjAll AS s
    JOIN galSpecExtra AS ID ON ID.specObjID = s.specObjID
    JOIN galSpecLine AS g ON g.specObjID = s.specObjID


    WHERE subclass IN ('STARFORMING', 'STARBURST', 'AGN', 'BROADLINE')
    AND NOT h_alpha_flux <='0' AND NOT h_beta_flux <='0'
    AND NOT oiii_5007_flux <='0' AND NOT nii_6548_flux <='0'
    AND NOT nii_6584_flux <='0' AND NOT sii_6717_flux <='0' 
    AND NOT sii_6731_flux <='0' AND NOT oi_6300_flux <='0'
    AND z < 0.8

    ORDER BY specobjid ASC"""

SDSS = SDSS.query_sql(query)

C:\ProgramData\Anaconda33\lib\site-packages\astroquery\sdss\core.py:874: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  arr = np.atleast_1d(np.genfromtxt(io.BytesIO(response.content),

In [3]:
type(SDSS)

astropy.table.table.Table

In [4]:
SDSS[0:5]

<Table length=5>
    specobjid          ra        dec     ... oi_6300_flux class    subclass
      int64         float64    float64   ...   float64    bytes6   bytes11
------------------ --------- ----------- ... ------------ ------ -----------
299489677444933632 146.71421  -1.0413043 ...     18.59493 GALAXY STARFORMING
299490502078654464 146.62857 -0.76513683 ...     8.490424 GALAXY STARFORMING
299491051364706304  146.9639 -0.54500256 ...     4.319232 GALAXY   STARBURST
299491051834468352 146.63167 -0.98827781 ...     6.269853 GALAXY STARFORMING
299492700632147968 146.59272 -0.76025604 ...     7.211103 GALAXY STARFORMING

In [5]:
service = pyvo.dal.TAPService ('https://irsa.ipac.caltech.edu/TAP')
result = service.run_async("""
            SELECT
            galname,
            ra,
            dec,
            fnu_12,
            fnu_25,
            fnu_60,
            fnu_100,
            rat_12_25,
            rat_25_60,
            rat_60_100
            
            FROM irasgal
            ORDER BY galname ASC""")
IRAS = result.to_table()

In [6]:
IRAS[0:5]

<Table length=5>
 galname      ra      dec     fnu_12 ... fnu_100 rat_12_25 rat_25_60 rat_60_100
           degrees  degrees     Jy   ...    Jy
  object   float32  float32  float32 ... float32  float32   float32   float32
---------- -------- -------- ------- ... ------- --------- --------- ----------
00000-0359   0.6448  -3.7105    0.25 ...    2.49    0.7576    0.2727     0.4859
00001+0827   0.6663   8.7373    0.25 ...    1.19    0.8929    0.4000     0.5882
00003+0313   0.7196   3.5042    0.25 ...    1.12    0.7812    0.6154     0.4643
00003-3431   0.7281 -34.2385    1.06 ...    2.57    4.2400    0.3125     0.3113
00005+2140   0.7878  21.9597    0.25 ...    4.51    0.2381    0.2471     0.9424

---

Verificamos la longitud de los dos catalogos. El catalogo que tenga mas elementos ser√° el que utilizaremos como referencia.

In [7]:
len(IRAS), len(SDSS)

(11444, 20000)

---

Ahora crearemos cuatro arreglos de `NumPy` con la informaci√≥n de las coordenadas celestes

In [8]:
ra1 = np.asarray(IRAS['ra'])
dec1 = np.asarray(IRAS['dec'])
ra2 = np.asarray(SDSS['ra'])
dec2 = np.asarray(SDSS['dec'])

Utilizando esos arreglos, definiremos dos 'catalogos' utilizando la funci√≥n SkyCoord( ). N√≥tese que las coordenadas celestes ya se plantean en grados dentro de los catalogos originales

In [9]:
IRAScat = SkyCoord(ra=ra1*u.degree, dec=dec1*u.degree)
SDSScat = SkyCoord(ra=ra2*u.degree, dec=dec2*u.degree)

In [10]:
#Explora:
# type(IRAScat)
IRAScat
# cantidad_parejas = len(IRAScat)
# cantidad_parejas

<SkyCoord (ICRS): (ra, dec) in deg
    [(0.6447522 ,  -3.710484 ), (0.66634995,   8.73727  ),
     (0.7195514 ,   3.5042214), ..., (0.5100675 , -33.46959  ),
     (0.5424071 ,   2.942838 ), (0.57888216,  12.971159 )]>

In [11]:
#Explora:
# type(SDSScat)
# SDSScat
cantidad_parejasSD = len(SDSScat)
cantidad_parejasSD

20000

Ahora realizamos el crossmatching mediante el m√©todo .match_to_catalog( )

En este caso utilizaremos el cat√°logo SDSS como referencia y lo cruzamos con el catalogo IRAS.

El m√©todo retorna tres resultados:

- idx : indices dentro del cat√°logo IRAS que corresponden a los objetos mas cercanos a cada uno de los objetos del cat√°logo SDSS
- d2d : distancias en el cielo (2-dimensionales) entro los objetos que hacen match.
- d3d : distancias 3-dimensionales (al no haber dato 3D, se asume que todos los objetos estan a una distancia de 1 del observador)

In [12]:
idx, d2d, d3d = SDSScat.match_to_catalog_sky(IRAScat)

El tama√±o del arreglo `idx` es igual al del cat√°logo SDSS:

In [13]:
idx.shape

(20000,)

---

Ahora podemos ver algunos de los match. Por ejemplo, para el objeto con √≠ndice **10719** del SDSS se tiene:

In [14]:
idx[10719]

8451

In [15]:
SDSS[10719]

<Row index=10719>
    specobjid         ra       dec          z      h_alpha_flux h_beta_flux oiii_5007_flux nii_6548_flux nii_6584_flux sii_6717_flux sii_6731_flux oi_6300_flux class    subclass
      int64        float64   float64     float64     float64      float64      float64        float64       float64       float64       float64      float64    bytes6   bytes11
------------------ -------- ---------- ----------- ------------ ----------- -------------- ------------- ------------- ------------- ------------- ------------ ------ -----------
354807207503620096 235.4981 0.71280211 0.006394573     150.4484    30.57159       12.23558      14.36272      43.32129      42.70899      28.75874     11.33575 GALAXY STARFORMING

In [16]:
IRAS[idx[10719]]

<Row index=8451>
 galname      ra      dec     fnu_12  fnu_25  fnu_60 fnu_100 rat_12_25 rat_25_60 rat_60_100
           degrees  degrees     Jy      Jy      Jy      Jy
  object   float32  float32  float32 float32 float32 float32  float32   float32   float32
---------- -------- -------- ------- ------- ------- ------- --------- --------- ----------
15394+0052 235.4980   0.7127    0.34    0.26    0.43    1.41    1.3077    0.6047     0.3050

La distancia entre estos dos objetos es

In [17]:
d2d[10719]

In [18]:
# Explora:

# type(idx)
# len(idx)
# idx[1520:1530]

In [19]:
# Explora:

# type(idx)
# len(d2d)
d2d[1520:1530]

<Angle [1.19021246, 1.00341829, 1.01220856, 1.09484721, 1.2856854 ,
        1.32240247, 1.37393583, 1.46307341, 1.27553726, 1.47765342] deg>

In [20]:
# Explora:

# type(d3d)
# len(d3d)
d3d[1520:1530]

<Quantity [0.02077266, 0.01751265, 0.01766606, 0.0191083 , 0.0224389 ,
           0.0230798 , 0.02397905, 0.02553479, 0.02226179, 0.02578924]>

---

Debido a que los dos catalogos tienen diferente tama√±o, es posible que varios elementos del catalogo SDSS tengan match con un mimso objeto del catalogo IRAS.

Para revisar esta posibilidad, debemos identificar los valores √∫nicos dentro del match. Esto lo hacemos con la funci√≥n [np.unique( )](https://numpy.org/doc/stable/reference/generated/numpy.unique.html). En esta funci√≥n utilizaremos el argumento `return_counts=True` para saber cuantas veces se repite un mismo valor.

In [21]:
unique, c = np.unique(idx, return_counts=True)

Los valores √∫nicos son:

In [22]:
unique

array([    5,    17,    42,    84,  4575,  4589,  4590,  4616,  4628,
        4647,  4656,  4680,  4682,  4692,  4707,  4766,  4779,  4784,
        4799,  4927,  4928,  4948,  4956,  4985,  4998,  5006,  5010,
        5275,  5359,  5379,  5399,  5434,  5438,  5442,  5477,  5500,
        5506,  5514,  5516,  5526,  5534,  5550,  5554,  5556,  5560,
        5581,  5584,  5600,  5621,  5638,  5643,  5646,  5657,  5660,
        5673,  5683,  5712,  5743,  5754,  5774,  5785,  5792,  5808,
        5834,  5835,  5865,  5869,  5871,  5885,  5904,  5905,  5929,
        5934,  5948,  5953,  5976,  6001,  6009,  6048,  6076,  6114,
        6118,  6171,  6212,  6245,  6264,  6266,  6293,  6320,  6325,
        6363,  6366,  6385,  6395,  6398,  6404,  6419,  6426,  6459,
        6468,  6469,  6476,  6493,  6496,  6521,  6535,  6570,  6600,
        6614,  6618,  6638,  6669,  6680,  6700,  6710,  6719,  6763,
        6803,  6808,  6813,  6824,  6854,  6891,  6899,  6913,  6917,
        6945,  6983,  7000,  7030,  7053,  7098,  7106,  7126,  7135,
        7163,  7170,  7180,  7219,  7239,  7326,  7350,  7354,  7362,
        7374,  7406,  7424,  7428,  7491,  7517,  7538,  7543,  7554,
        7575,  7589,  7597,  7600,  7617,  7619,  7624,  7640,  7663,
        7705,  7706,  7712,  7749,  7752,  7776,  7784,  7785,  7820,
        7847,  7871,  7875,  7896,  7902,  7919,  7932,  7944,  7953,
        8006,  8082,  8093,  8109,  8156,  8159,  8171,  8195,  8210,
        8211,  8259,  8290,  8300,  8326,  8350,  8363,  8373,  8381,
        8437,  8451,  8483,  8486,  8532,  8555,  8590,  8642,  8650,
        8658,  8667,  8686,  8696,  8739,  8741,  8744,  8790,  8896,
        8961,  8962,  8991,  8992,  9031,  9033,  9048,  9051,  9060,
        9061,  9064,  9070,  9089,  9092,  9094,  9096,  9107,  9113,
        9118,  9152,  9155,  9160,  9169,  9173,  9174,  9178,  9180,
        9189,  9193,  9194,  9197,  9200,  9205,  9210,  9211,  9223,
        9225,  9239,  9240,  9251,  9254,  9256,  9263,  9266,  9293,
        9297,  9298,  9315,  9330, 10585, 10595, 10604, 10633, 10662,
       10669, 10690, 10700, 10762, 10796, 10827, 10941, 10960, 11008,
       11056, 11069, 11075, 11117, 11128, 11129, 11142, 11155, 11162,
       11171, 11183, 11192, 11203, 11208, 11221, 11254, 11261, 11281,
       11295, 11318, 11325, 11343, 11346, 11361, 11384, 11398, 11405,
       11406, 11409, 11432], dtype=int64)

In [23]:
# Explora
len(unique)

309

El n√∫mero de repeticiones de cada elemento es

In [24]:
c

array([  5,  20,  93,   8,  66,  20, 105,   4,  90,   9,  67,  87,  21,
        31,  61, 283,  15,  48,  75,  56, 122, 104,  27,  33,  58, 182,
       144, 443,   3,  82, 162,  18,  79,  64, 150,  95,   4,  73, 149,
        74,   3,  21,  56,   4,  26,  47,  25,  84,  36,  20,  37, 115,
        16,  52, 106, 109,  98,  24, 100,  51,  55,  98,  27, 185,  43,
        11,  71,  47,  11, 153, 203,  12,  60,  25, 268,  93,  94,   8,
        56,  47, 231,  30,   1,  40,  47,  71, 147,  82,  76,   6,  49,
        40,   5,  29,  28,  92,  45,  67, 131,  59,  71,  23,  70, 101,
       136,  56,  24,  81,  43,  57,  48, 152,  16,   4,  13,  94, 108,
        56, 103, 128,  24, 112,  29,  92,  11,  14, 243, 310, 152,  24,
        59,  19, 198,  35,  15,  33,  44,  61, 159,   7,  11,  58, 131,
         9,   9, 107,  63,  75,  76,  53,  14,   9,   1,  60,   4,  44,
        11,  33,  44,  66,  26,  86,  87, 126,  24,  62,  29, 123,  41,
         9,  94,  87,  74,  13,  23,  35,   9,  37,   5, 138,  32, 177,
        70,  36, 131,   9,  58,   3,   2,  52,  49, 124,  56, 101,  16,
       225, 104,   6,  65, 115,   9,  54, 115,  93,  58,  22,  24, 138,
        47,   4,  93,  13, 147,  30,  73, 177,  37,  11,  65,  48,   3,
        55,  11,  74,  22,  66,  58,  39,  48,  38, 116,  64,  50, 159,
        57,  43,  84,  25,  35,  22,  15,  89, 113,  14,  21,  11,  42,
        28,  21,  23, 126,  12,  13,  25,  61,   9, 322,  18,  46,   3,
         8,   7,  30,  16,  47,   2,  53,  91,  72,  39, 121, 182,  76,
        14,   6, 364,   2, 407,   5,  73,  84,  94,  91,  15,  30,  33,
        53,  17,  13,  12,   9,   8, 118,  52,   4,  33, 189,  38, 104,
        15,  83,  64,  58,  40,   2,  69,  68,   7,  78], dtype=int64)

In [25]:
len(c)

309

Esto queire decir que:

- El √≠ndice 5 se repite 5 veces
- el √≠ndice 17 se repite 20 veces
- el √≠ndice 42 se repite 93 veces
- el √≠ndice 84 se repite 8 veces
- ...

Para saber en donde se repite el cada √≠ndice, utilizamos la funci√≥n [np.where( )](https://numpy.org/doc/stable/reference/generated/numpy.unique.html).

Por ejemplo para el √≠ndice 5 se tiene

In [26]:
np.where(idx==5)

(array([19711, 19720, 19721, 19722, 19724], dtype=int64),)

In [27]:
indices = np.where(idx==5)[0]
print(f"Match IRAS[{5}] : ra = {IRAS['ra'][5]} , dec = {IRAS['dec'][5]}" )
for i in indices:
    print(f"SDSS[{i}] : ra = {SDSS['ra'][i]} , dec = {SDSS['dec'][i]}, d2d = {d2d[i]}" )

Match IRAS[5] : ra = 0.7726925015449524 , dec = -1.9154912233352661
SDSS[19711] : ra = 0.51393115 , dec = -1.2063099, d2d = 0.7548806612597737 deg
SDSS[19720] : ra = 0.023121653 , dec = -1.2163687, d2d = 1.0247936214533742 deg
SDSS[19721] : ra = 0.056005303 , dec = -1.2136299, d2d = 1.002925864629819 deg
SDSS[19722] : ra = 0.12870372 , dec = -1.2130045, d2d = 0.9528350715932876 deg
SDSS[19724] : ra = 0.16654755 , dec = -1.1911967, d2d = 0.9443194044874836 deg

In [28]:
# Explora:

# np.where(idx==84)

In [29]:
# Explora:
"""
indices = np.where(idx==84)[0]
print(f"Match IRAS[{84}] : ra = {IRAS['ra'][84]} , dec = {IRAS['dec'][84]}" )
for i in indices:
    print(f"SDSS[{i}] : ra = {SDSS['ra'][i]} , dec = {SDSS['dec'][i]}, d2d = {d2d[i]}" )
    
    """

'\nindices = np.where(idx==84)[0]\nprint(f"Match IRAS[{84}] : ra = {IRAS[\'ra\'][84]} , dec = {IRAS[\'dec\'][84]}" )\nfor i in indices:\n    print(f"SDSS[{i}] : ra = {SDSS[\'ra\'][i]} , dec = {SDSS[\'dec\'][i]}, d2d = {d2d[i]}" )\n    \n    '

In [30]:
# Explora:
# np.where(idx==17)

In [31]:
# Explora:
"""
indices = np.where(idx==17)[0]
print(f"Match IRAS[{17}] : ra = {IRAS['ra'][17]} , dec = {IRAS['dec'][17]}" )
for i in indices:
    print(f"SDSS[{i}] : ra = {SDSS['ra'][i]} , dec = {SDSS['dec'][i]}, d2d = {d2d[i]}" )
"""

'\nindices = np.where(idx==17)[0]\nprint(f"Match IRAS[{17}] : ra = {IRAS[\'ra\'][17]} , dec = {IRAS[\'dec\'][17]}" )\nfor i in indices:\n    print(f"SDSS[{i}] : ra = {SDSS[\'ra\'][i]} , dec = {SDSS[\'dec\'][i]}, d2d = {d2d[i]}" )\n'

In [32]:
# Explora:
# np.where(idx==42)

In [33]:
# Explora:
# indices = np.where(idx==42)[0]
# print(f"Match IRAS[{42}] : ra = {IRAS['ra'][42]} , dec = {IRAS['dec'][42]}" )
# for i in indices:
#     print(f"SDSS[{i}] : ra = {SDSS['ra'][i]} , dec = {SDSS['dec'][i]}, d2d = {d2d[i]}" )

**La pregunta que surge es ¬øCual es el match apropiado?**

La respuesta esta en el investigador, quien debe elegir (de acuerdo con sus criterios) cual es la mejor opci√≥n. 

Por ejemplo, en este caso se podr√≠a decir que el mejor match es entre el SDSS[19711] y el IRAS[5] porque la distancia entre estos objetos es de 0.75488 deg.

Tambi√©n puede ser posible que el investigador considere los tres objetos mas cercanos en el SDSS correspondan a un solo objeto en el IRAS. Es decir que  SDSS[19711], SDSS[19722] y SDSS[19724] sean el objeto IRAS[5].

---

Una posibilidad adicional es restringir los resultados con una distanc√≠a m√°xima dentro de la cual se considera que si existe un match. Por ejemplo, podemos imponer que solamente si la distancia es menor que 10 arcsec se considere la posibilidad de match.

In [34]:
max_sep = 10 * u.arcsec # Criterio de maxima distancia posible

# Creamos una mascara booleana
sep_constraint = d2d < max_sep
sep_constraint

array([False, False, False, ..., False, False, False])

In [35]:
SDSSmasked = SDSScat[sep_constraint]
IRASmasked = IRAScat[idx[sep_constraint]]

In [36]:
SDSSmasked[0:5]

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51241, 0.33917087), (145.51241, 0.33917087),
     (167.2324 , 0.44480423), (169.70646, 0.61930757),
     (169.70646, 0.61930757)]>

In [37]:
IRASmasked[0:5]

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51395, 0.3375216 ), (145.51395, 0.3375216 ),
     (167.2346 , 0.44466087), (169.70757, 0.61774945),
     (169.70757, 0.61774945)]>

Asi se tienen solamente los objetos que hacen match y que cumplen con la ondici√≥nd e distancia m√°xima.

In [38]:
# len(SDSSmasked)
len(IRASmasked) # ESTE ES EL QUE TIENE EL MATCH DE LOS 81

81

In [39]:
len(SDSSmasked)

81

---
# Tablas

## 1. Tabla general de Matches

In [40]:
from astropy.table import Table

# Supongamos que "SDSSmasked" y "IRASmasked" son objetos SkyCoord

# Crear una nueva tabla vac√≠a para almacenar los matches combinados
matched_table = Table()

# Agregar las columnas "ra" y "dec" a la nueva tabla desde "SDSSmasked"
matched_table['ra_sdss'] = SDSSmasked.ra
matched_table['dec_sdss'] = SDSSmasked.dec

# Agregar las columnas "ra" y "dec" a la nueva tabla desde "IRASmasked"
matched_table['ra_iras'] = IRASmasked.ra
matched_table['dec_iras'] = IRASmasked.dec

In [41]:
matched_table

<Table length=81>
 ra_sdss    dec_sdss   ra_iras    dec_iras
   deg        deg        deg        deg
 float64    float64    float32    float32
--------- ----------- --------- ------------
145.51241  0.33917087 145.51395    0.3375216
145.51241  0.33917087 145.51395    0.3375216
 167.2324  0.44480423  167.2346   0.44466087
169.70646  0.61930757 169.70757   0.61774945
169.70646  0.61930757 169.70757   0.61774945
170.82587  -0.9224747 170.82668  -0.92125833
169.38707 -0.18750165 169.38559   -0.1864041
174.63863  -1.1845063 174.63847   -1.1859262
174.63863  -1.1845063 174.63847   -1.1859262
      ...         ...       ...          ...
262.58929   59.639906 262.59348    59.639565
264.23958   59.200298 264.24017    59.199715
329.53048   1.0088956   329.531    1.0091623
331.05302  -0.0320986 331.05234 -0.032973766
346.63215  0.17246415  346.6315    0.1721589
356.75181 -0.44739343  356.7521   -0.4476941
356.75181 -0.44739343  356.7521   -0.4476941
355.28238   -1.037554  355.2808   -1.0376734
356.05549  0.80402758 356.05377   0.80373883
356.05549  0.80402758 356.05377   0.80373883

## 2.Tabla IRAS MATCHES con sus filas

In [42]:
import astropy.table as table
import astropy.coordinates as coord

#VAMOS CON LAS 81 DE IRAS

# Crear una nueva tabla con las columnas 'ra' y 'dec'
new_table = table.Table()
new_table['ra'] = IRASmasked.ra
new_table['dec'] = IRASmasked.dec

In [43]:
# Unir las tablas bas√°ndose en las columnas 'ra' y 'dec'
dataIRAS = table.join(IRAS, new_table, keys=['ra', 'dec'], join_type='inner')

WARNING: MergeConflictWarning: In merged column 'ra' the 'unit' attribute does not match (degrees != deg).  Using deg for merged output [astropy.utils.metadata]
WARNING: MergeConflictWarning: In merged column 'dec' the 'unit' attribute does not match (degrees != deg).  Using deg for merged output [astropy.utils.metadata]

In [44]:
dataIRAS[0:5]

<Table length=5>
 galname      ra      dec     fnu_12 ... fnu_100 rat_12_25 rat_25_60 rat_60_100
             deg      deg       Jy   ...    Jy
  object   float32  float32  float32 ... float32  float32   float32   float32
---------- -------- -------- ------- ... ------- --------- --------- ----------
09394+0033 145.5139   0.3375    0.35 ...   15.08    0.7000    0.0969     0.3422
09394+0033 145.5139   0.3375    0.35 ...   15.08    0.7000    0.0969     0.3422
11063+0042 167.2346   0.4447    0.42 ...    1.01    1.5556    0.3293     0.8119
11149+0005 169.3856  -0.1864    0.35 ...    2.10    0.8140    0.6324     0.3238
11162+0053 169.7076   0.6177    0.25 ...    1.79    0.5000    0.6667     0.4190

## 3.Tabla SDSS MATCHES con sus filas

In [45]:
import astropy.table as table

# Seleccionar las columnas 'ra_sdss' y 'dec_sdss' de 'matched_table'
nuevaSDSS = table.Table()
nuevaSDSS['ra_sdss'] = matched_table['ra_sdss']
nuevaSDSS['dec_sdss'] = matched_table['dec_sdss']

In [46]:
import astropy.table
# Crear una nueva tabla llamada "dataSDSS" con todas las columnas de "SDSS"
dtype = [str if name in ['class', 'subclass'] else float for name in SDSS.colnames]
dataSDSS = astropy.table.Table(names=SDSS.colnames, dtype=dtype)

# Iterar sobre las filas de "SDSS" y agregar solo las filas que est√©n presentes en "nuevaSDSS"
for row in SDSS:
    if (row['ra'] in nuevaSDSS['ra_sdss']) and (row['dec'] in nuevaSDSS['dec_sdss']):
        dataSDSS.add_row(row)

In [47]:
dataSDSS[0:5]

<Table length=5>
      specobjid           ra       dec     ... oi_6300_flux class    subclass
       float64         float64   float64   ...   float64     str6     str11
--------------------- --------- ---------- ... ------------ ------ -----------
 2.99595780317014e+17 145.51241 0.33917087 ...     1.011221 GALAXY   STARBURST
2.995977039926006e+17 145.51241 0.33917087 ...     1.412207 GALAXY   STARBURST
3.131291237173432e+17  167.2324 0.44480423 ...     181.0779 GALAXY   STARBURST
3.142838872137011e+17 169.70646 0.61930757 ...     16.12341 GALAXY STARFORMING
3.142849804170957e+17 169.70646 0.61930757 ...     17.52826 GALAXY STARFORMING

## 4.Tabla MATCHES COMPLETOS SDSS + IRAS

In [48]:
type(dataSDSS)

astropy.table.table.Table

In [49]:
len(dataSDSS)

81

In [50]:
len(dataIRAS)

81

In [51]:
from astropy.table import Table, hstack

In [52]:
TablaFusionada = hstack([dataSDSS, dataIRAS])

In [53]:
TablaFusionada[0:5]

<Table length=5>
      specobjid          ra_1     dec_1    ... rat_12_25 rat_25_60 rat_60_100
                                           ...
       float64         float64   float64   ...  float32   float32   float32
--------------------- --------- ---------- ... --------- --------- ----------
 2.99595780317014e+17 145.51241 0.33917087 ...    0.7000    0.0969     0.3422
2.995977039926006e+17 145.51241 0.33917087 ...    0.7000    0.0969     0.3422
3.131291237173432e+17  167.2324 0.44480423 ...    1.5556    0.3293     0.8119
3.142838872137011e+17 169.70646 0.61930757 ...    0.8140    0.6324     0.3238
3.142849804170957e+17 169.70646 0.61930757 ...    0.5000    0.6667     0.4190

In [57]:
# Ordenar la tabla:
TablaFusionada = TablaFusionada[['ra_1', 'dec_1', 'ra_2', 'dec_2', 'z', 'h_alpha_flux', 'h_beta_flux', 'oiii_5007_flux', 'nii_6548_flux', 'nii_6584_flux', 'sii_6717_flux', 'sii_6731_flux', 'oi_6300_flux', 'fnu_12', 'fnu_25', 'fnu_60', 'fnu_100', 'rat_12_25', 'rat_25_60', 'rat_60_100']]

In [59]:
TablaFusionada[0:5]

<Table length=5>
   ra_1     dec_1      ra_2    dec_2   ... rat_12_25 rat_25_60 rat_60_100
                       deg      deg    ...
 float64   float64   float32  float32  ...  float32   float32   float32
--------- ---------- -------- -------- ... --------- --------- ----------
145.51241 0.33917087 145.5139   0.3375 ...    0.7000    0.0969     0.3422
145.51241 0.33917087 145.5139   0.3375 ...    0.7000    0.0969     0.3422
 167.2324 0.44480423 167.2346   0.4447 ...    1.5556    0.3293     0.8119
169.70646 0.61930757 169.3856  -0.1864 ...    0.8140    0.6324     0.3238
169.70646 0.61930757 169.7076   0.6177 ...    0.5000    0.6667     0.4190