In [1]:
import numpy as np
import pandas as pd
import time
import pyvo
import warnings
import astropy.units as u
import matplotlib.pyplot as plt
from datetime import date
from astropy.table import Table
from astropy.table import hstack
from astroquery.sdss import SDSS
from astropy.coordinates import SkyCoord
from matplotlib import pyplot as plt
from astropy import coordinates, units as u
from astroquery.xmatch import XMatch

Could not import regions, which is required for some of the functionalities of this module.

In [2]:
query = """SELECT TOP 20000
    s.specobjid, s.ra, s.dec, s.z, g.h_alpha_flux, g.h_beta_flux,
    g.oiii_5007_flux, g.nii_6548_flux, g.nii_6584_flux,
    g.sii_6717_flux, g.sii_6731_flux, g.oi_6300_flux, s.class, s.subclass

    FROM SpecObjAll AS s
    JOIN galSpecExtra AS ID ON ID.specObjID = s.specObjID
    JOIN galSpecLine AS g ON g.specObjID = s.specObjID


    WHERE subclass IN ('STARFORMING', 'STARBURST', 'AGN', 'BROADLINE')
    AND NOT h_alpha_flux <='0' AND NOT h_beta_flux <='0'
    AND NOT oiii_5007_flux <='0' AND NOT nii_6548_flux <='0'
    AND NOT nii_6584_flux <='0' AND NOT sii_6717_flux <='0' 
    AND NOT sii_6731_flux <='0' AND NOT oi_6300_flux <='0'
    AND z < 0.8

    ORDER BY specobjid ASC"""

SDSS = SDSS.query_sql(query)

C:\ProgramData\Anaconda33\lib\site-packages\astroquery\sdss\core.py:874: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  arr = np.atleast_1d(np.genfromtxt(io.BytesIO(response.content),

In [3]:
type(SDSS)

astropy.table.table.Table

In [4]:
SDSS[0:5]

<Table length=5>
    specobjid          ra        dec     ... oi_6300_flux class    subclass
      int64         float64    float64   ...   float64    bytes6   bytes11
------------------ --------- ----------- ... ------------ ------ -----------
299489677444933632 146.71421  -1.0413043 ...     18.59493 GALAXY STARFORMING
299490502078654464 146.62857 -0.76513683 ...     8.490424 GALAXY STARFORMING
299491051364706304  146.9639 -0.54500256 ...     4.319232 GALAXY   STARBURST
299491051834468352 146.63167 -0.98827781 ...     6.269853 GALAXY STARFORMING
299492700632147968 146.59272 -0.76025604 ...     7.211103 GALAXY STARFORMING

In [5]:
service = pyvo.dal.TAPService ('https://irsa.ipac.caltech.edu/TAP')
result = service.run_async("""
            SELECT
            galname,
            ra,
            dec,
            fnu_12,
            fnu_25,
            fnu_60,
            fnu_100,
            rat_12_25,
            rat_25_60,
            rat_60_100
            
            FROM irasgal
            ORDER BY galname ASC""")
IRAS = result.to_table()

In [6]:
IRAS[0:5]

<Table length=5>
 galname      ra      dec     fnu_12 ... fnu_100 rat_12_25 rat_25_60 rat_60_100
           degrees  degrees     Jy   ...    Jy
  object   float32  float32  float32 ... float32  float32   float32   float32
---------- -------- -------- ------- ... ------- --------- --------- ----------
00000-0359   0.6448  -3.7105    0.25 ...    2.49    0.7576    0.2727     0.4859
00001+0827   0.6663   8.7373    0.25 ...    1.19    0.8929    0.4000     0.5882
00003+0313   0.7196   3.5042    0.25 ...    1.12    0.7812    0.6154     0.4643
00003-3431   0.7281 -34.2385    1.06 ...    2.57    4.2400    0.3125     0.3113
00005+2140   0.7878  21.9597    0.25 ...    4.51    0.2381    0.2471     0.9424

---

Verificamos la longitud de los dos catalogos. El catalogo que tenga mas elementos ser√° el que utilizaremos como referencia.

In [7]:
len(IRAS), len(SDSS)

(11444, 20000)

---

Ahora crearemos cuatro arreglos de `NumPy` con la informaci√≥n de las coordenadas celestes

In [8]:
ra1 = np.asarray(IRAS['ra'])
dec1 = np.asarray(IRAS['dec'])
ra2 = np.asarray(SDSS['ra'])
dec2 = np.asarray(SDSS['dec'])

Utilizando esos arreglos, definiremos dos 'catalogos' utilizando la funci√≥n SkyCoord( ). N√≥tese que las coordenadas celestes ya se plantean en grados dentro de los catalogos originales

In [9]:
IRAScat = SkyCoord(ra=ra1*u.degree, dec=dec1*u.degree)
SDSScat = SkyCoord(ra=ra2*u.degree, dec=dec2*u.degree)

In [10]:
#Explora:
# type(IRAScat)
IRAScat
# cantidad_parejas = len(IRAScat)
# cantidad_parejas

<SkyCoord (ICRS): (ra, dec) in deg
    [(0.6447522 ,  -3.710484 ), (0.66634995,   8.73727  ),
     (0.7195514 ,   3.5042214), ..., (0.5100675 , -33.46959  ),
     (0.5424071 ,   2.942838 ), (0.57888216,  12.971159 )]>

In [11]:
#Explora:
# type(SDSScat)
# SDSScat
cantidad_parejasSD = len(SDSScat)
cantidad_parejasSD

20000

Ahora realizamos el crossmatching mediante el m√©todo .match_to_catalog( )

En este caso utilizaremos el cat√°logo SDSS como referencia y lo cruzamos con el catalogo IRAS.

El m√©todo retorna tres resultados:

- idx : indices dentro del cat√°logo IRAS que corresponden a los objetos mas cercanos a cada uno de los objetos del cat√°logo SDSS
- d2d : distancias en el cielo (2-dimensionales) entro los objetos que hacen match.
- d3d : distancias 3-dimensionales (al no haber dato 3D, se asume que todos los objetos estan a una distancia de 1 del observador)

In [12]:
idx, d2d, d3d = SDSScat.match_to_catalog_sky(IRAScat)

El tama√±o del arreglo `idx` es igual al del cat√°logo SDSS:

In [13]:
idx.shape

(20000,)

**La pregunta que surge es ¬øCual es el match apropiado?**

La respuesta esta en el investigador, quien debe elegir (de acuerdo con sus criterios) cual es la mejor opci√≥n. 

Por ejemplo, en este caso se podr√≠a decir que el mejor match es entre el SDSS[19711] y el IRAS[5] porque la distancia entre estos objetos es de 0.75488 deg.

Tambi√©n puede ser posible que el investigador considere los tres objetos mas cercanos en el SDSS correspondan a un solo objeto en el IRAS. Es decir que  SDSS[19711], SDSS[19722] y SDSS[19724] sean el objeto IRAS[5].

---

Una posibilidad adicional es restringir los resultados con una distanc√≠a m√°xima dentro de la cual se considera que si existe un match. Por ejemplo, podemos imponer que solamente si la distancia es menor que 10 arcsec se considere la posibilidad de match.

In [14]:
max_sep = 10 * u.arcsec # Criterio de maxima distancia posible

# Creamos una mascara booleana
sep_constraint = d2d < max_sep
sep_constraint

array([False, False, False, ..., False, False, False])

In [15]:
SDSSmasked = SDSScat[sep_constraint]
IRASmasked = IRAScat[idx[sep_constraint]]

In [16]:
SDSSmasked[0:5]

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51241, 0.33917087), (145.51241, 0.33917087),
     (167.2324 , 0.44480423), (169.70646, 0.61930757),
     (169.70646, 0.61930757)]>

In [17]:
IRASmasked[0:5]

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51395, 0.3375216 ), (145.51395, 0.3375216 ),
     (167.2346 , 0.44466087), (169.70757, 0.61774945),
     (169.70757, 0.61774945)]>

In [18]:
# Desde aqui los valores se repiten: (145.51241, 0.33917087), (145.51241, 0.33917087),

#(145.51395, 0.3375216 ) y (145.51395, 0.3375216 )

Asi se tienen solamente los objetos que hacen match y que cumplen con la ondici√≥nd e distancia m√°xima.

In [19]:
# len(SDSSmasked)
len(IRASmasked)

81

In [20]:
len(SDSSmasked)

81

---
# Tablas

## 1. Tabla general de Matches

In [21]:
from astropy.table import Table

# Crear una nueva tabla vac√≠a para almacenar los matches combinados
matched_table = Table()

# Agregar las columnas "ra" y "dec" a la nueva tabla desde "SDSSmasked"
matched_table['ra_sdss'] = SDSSmasked.ra
matched_table['dec_sdss'] = SDSSmasked.dec

# Agregar las columnas "ra" y "dec" a la nueva tabla desde "IRASmasked"
matched_table['ra_iras'] = IRASmasked.ra
matched_table['dec_iras'] = IRASmasked.dec

In [22]:
matched_table

<Table length=81>
 ra_sdss    dec_sdss   ra_iras    dec_iras
   deg        deg        deg        deg
 float64    float64    float32    float32
--------- ----------- --------- ------------
145.51241  0.33917087 145.51395    0.3375216
145.51241  0.33917087 145.51395    0.3375216
 167.2324  0.44480423  167.2346   0.44466087
169.70646  0.61930757 169.70757   0.61774945
169.70646  0.61930757 169.70757   0.61774945
170.82587  -0.9224747 170.82668  -0.92125833
169.38707 -0.18750165 169.38559   -0.1864041
174.63863  -1.1845063 174.63847   -1.1859262
174.63863  -1.1845063 174.63847   -1.1859262
      ...         ...       ...          ...
262.58929   59.639906 262.59348    59.639565
264.23958   59.200298 264.24017    59.199715
329.53048   1.0088956   329.531    1.0091623
331.05302  -0.0320986 331.05234 -0.032973766
346.63215  0.17246415  346.6315    0.1721589
356.75181 -0.44739343  356.7521   -0.4476941
356.75181 -0.44739343  356.7521   -0.4476941
355.28238   -1.037554  355.2808   -1.0376734
356.05549  0.80402758 356.05377   0.80373883
356.05549  0.80402758 356.05377   0.80373883

In [23]:
type(matched_table)

astropy.table.table.Table

# Obtener los valores repetidos en ra

In [24]:
# Obtener los valores y sus conteos en la columna "ra_sdss"
valores, conteos = np.unique(matched_table['ra_sdss'], return_counts=True)

In [25]:
# Filtrar los valores duplicados
valores_duplicados = valores[conteos > 1]

In [26]:
valores_duplicados

<Column name='ra_sdss' dtype='float64' unit='deg' length=14>
145.51241
169.70646
174.63863
198.65753
202.63334
210.83645
213.61094
215.61509
 217.0189
218.85559
255.76447
264.24835
356.05549
356.75181

In [27]:
# Crear una nueva tabla con los datos duplicados en la columna "ra_sdss"
tabla_duplicados = Table(names=matched_table.colnames)
for row in matched_table:
    if row['ra_sdss'] in valores_duplicados:
        tabla_duplicados.add_row(row)

In [28]:
tabla_duplicados

<Table length=28>
 ra_sdss    dec_sdss       ra_iras             dec_iras
 float64    float64        float64             float64
--------- ----------- ------------------ -------------------
145.51241  0.33917087 145.51394653320312 0.33752161264419556
145.51241  0.33917087 145.51394653320312 0.33752161264419556
169.70646  0.61930757  169.7075653076172  0.6177494525909424
169.70646  0.61930757  169.7075653076172  0.6177494525909424
174.63863  -1.1845063  174.6384735107422 -1.1859261989593506
174.63863  -1.1845063  174.6384735107422 -1.1859261989593506
202.63334 -0.60375072 202.63490295410156 -0.6047807931900024
202.63334 -0.60375072 202.63490295410156 -0.6047807931900024
210.83645 -0.54993497 210.83551025390625 -0.5498472452163696
210.83645 -0.54993497 210.83551025390625 -0.5498472452163696
      ...         ...                ...                 ...
198.65753  -3.3076371 198.65554809570312  -3.306500196456909
198.65753  -3.3076371 198.65554809570312  -3.306500196456909
255.76447   61.043912 255.76559448242188   61.04149627685547
255.76447   61.043912 255.76559448242188   61.04149627685547
264.24835   55.006835 264.25250244140625  55.006832122802734
264.24835   55.006835 264.25250244140625  55.006832122802734
356.75181 -0.44739343  356.7521057128906 -0.4476940929889679
356.75181 -0.44739343  356.7521057128906 -0.4476940929889679
356.05549  0.80402758 356.05377197265625  0.8037388324737549
356.05549  0.80402758 356.05377197265625  0.8037388324737549

In [29]:
# De los 81 galaxias match, existen 28 galaxias con misma ar y dec para 2 galaxias.

## 2.Tabla IRAS MATCHES con sus filas

In [30]:
import astropy.table as table
import astropy.coordinates as coord

#VAMOS CON LAS 81 DE IRAS

# Crear una nueva tabla con las columnas 'ra' y 'dec'
new_table = table.Table()
new_table['ra'] = IRASmasked.ra
new_table['dec'] = IRASmasked.dec

In [31]:
# Unir las tablas bas√°ndose en las columnas 'ra' y 'dec'
dataIRAS = table.join(IRAS, new_table, keys=['ra', 'dec'], join_type='inner')

WARNING: MergeConflictWarning: In merged column 'ra' the 'unit' attribute does not match (degrees != deg).  Using deg for merged output [astropy.utils.metadata]
WARNING: MergeConflictWarning: In merged column 'dec' the 'unit' attribute does not match (degrees != deg).  Using deg for merged output [astropy.utils.metadata]

In [32]:
dataIRAS[0:5]

<Table length=5>
 galname      ra      dec     fnu_12 ... fnu_100 rat_12_25 rat_25_60 rat_60_100
             deg      deg       Jy   ...    Jy
  object   float32  float32  float32 ... float32  float32   float32   float32
---------- -------- -------- ------- ... ------- --------- --------- ----------
09394+0033 145.5139   0.3375    0.35 ...   15.08    0.7000    0.0969     0.3422
09394+0033 145.5139   0.3375    0.35 ...   15.08    0.7000    0.0969     0.3422
11063+0042 167.2346   0.4447    0.42 ...    1.01    1.5556    0.3293     0.8119
11149+0005 169.3856  -0.1864    0.35 ...    2.10    0.8140    0.6324     0.3238
11162+0053 169.7076   0.6177    0.25 ...    1.79    0.5000    0.6667     0.4190

## 3.Tabla SDSS MATCHES con sus filas

In [33]:
import astropy.table as table

# Seleccionar las columnas 'ra_sdss' y 'dec_sdss' de 'matched_table'
nuevaSDSS = table.Table()
nuevaSDSS['ra_sdss'] = matched_table['ra_sdss']
nuevaSDSS['dec_sdss'] = matched_table['dec_sdss']

In [34]:
import astropy.table
# Crear una nueva tabla llamada "dataSDSS" con todas las columnas de "SDSS"
dtype = [str if name in ['class', 'subclass'] else float for name in SDSS.colnames]
dataSDSS = astropy.table.Table(names=SDSS.colnames, dtype=dtype)

# Iterar sobre las filas de "SDSS" y agregar solo las filas que est√©n presentes en "nuevaSDSS"
for row in SDSS:
    if (row['ra'] in nuevaSDSS['ra_sdss']) and (row['dec'] in nuevaSDSS['dec_sdss']):
        dataSDSS.add_row(row)

In [35]:
dataSDSS[0:5]

<Table length=5>
      specobjid           ra       dec     ... oi_6300_flux class    subclass
       float64         float64   float64   ...   float64     str6     str11
--------------------- --------- ---------- ... ------------ ------ -----------
 2.99595780317014e+17 145.51241 0.33917087 ...     1.011221 GALAXY   STARBURST
2.995977039926006e+17 145.51241 0.33917087 ...     1.412207 GALAXY   STARBURST
3.131291237173432e+17  167.2324 0.44480423 ...     181.0779 GALAXY   STARBURST
3.142838872137011e+17 169.70646 0.61930757 ...     16.12341 GALAXY STARFORMING
3.142849804170957e+17 169.70646 0.61930757 ...     17.52826 GALAXY STARFORMING

## 4.Tabla MATCHES COMPLETOS SDSS + IRAS

In [36]:
type(dataSDSS)

astropy.table.table.Table

In [37]:
len(dataSDSS)

81

In [38]:
len(dataIRAS)

81

In [39]:
from astropy.table import Table, hstack

In [40]:
TablaFusionada = hstack([dataSDSS, dataIRAS])

In [41]:
TablaFusionada[0:5]

<Table length=5>
      specobjid          ra_1     dec_1    ... rat_12_25 rat_25_60 rat_60_100
                                           ...
       float64         float64   float64   ...  float32   float32   float32
--------------------- --------- ---------- ... --------- --------- ----------
 2.99595780317014e+17 145.51241 0.33917087 ...    0.7000    0.0969     0.3422
2.995977039926006e+17 145.51241 0.33917087 ...    0.7000    0.0969     0.3422
3.131291237173432e+17  167.2324 0.44480423 ...    1.5556    0.3293     0.8119
3.142838872137011e+17 169.70646 0.61930757 ...    0.8140    0.6324     0.3238
3.142849804170957e+17 169.70646 0.61930757 ...    0.5000    0.6667     0.4190

In [42]:
# Ordenar la tabla:
TablaFusionada = TablaFusionada[['ra_1', 'dec_1', 'ra_2', 'dec_2', 'z', 'h_alpha_flux', 'h_beta_flux', 'oiii_5007_flux', 'nii_6548_flux', 'nii_6584_flux', 'sii_6717_flux', 'sii_6731_flux', 'oi_6300_flux', 'fnu_12', 'fnu_25', 'fnu_60', 'fnu_100', 'rat_12_25', 'rat_25_60', 'rat_60_100']]

In [43]:
TablaFusionada[0:5]

<Table length=5>
   ra_1     dec_1      ra_2    dec_2   ... rat_12_25 rat_25_60 rat_60_100
                       deg      deg    ...
 float64   float64   float32  float32  ...  float32   float32   float32
--------- ---------- -------- -------- ... --------- --------- ----------
145.51241 0.33917087 145.5139   0.3375 ...    0.7000    0.0969     0.3422
145.51241 0.33917087 145.5139   0.3375 ...    0.7000    0.0969     0.3422
 167.2324 0.44480423 167.2346   0.4447 ...    1.5556    0.3293     0.8119
169.70646 0.61930757 169.3856  -0.1864 ...    0.8140    0.6324     0.3238
169.70646 0.61930757 169.7076   0.6177 ...    0.5000    0.6667     0.4190