**Objetivo:**   

* Realizar el proceso de Crossmatching entre SDSS e IRAS, teniendo como referencia el libro: 1. Datos IRAS Y SDSS.  
  Datos iniciales, sin repetición:   
  IRAS= 11.440  
  SDSS= 310.346   

* Crossmatching entre SDSS e IRAS, usando sus respectivos datos de "ra" y "dec" con un criterio de 10 * u.arcsec (Máxima distancia posible según la literatura para identificar a un mismo objeto según "ra" y "dec".

In [1]:
import numpy as np
import pandas as pd
import time
import pyvo
import warnings
import astropy.units as u
import matplotlib.pyplot as plt
from datetime import date
from astropy.table import Table
from astropy.table import hstack
from astroquery.sdss import SDSS
from astropy.coordinates import SkyCoord
from matplotlib import pyplot as plt
from astropy import coordinates, units as u
from astroquery.xmatch import XMatch

Could not import regions, which is required for some of the functionalities of this module.

In [2]:
%run "C:\Users\Cristina Quiazúa M\Desktop\MyBPT\Crossmatching\1. Datos IRAS Y SDSS.ipynb"

Valores duplicados en la columna 'ra': [132.58559 179.51375 185.48906 351.8132 ]
Índices de los valores duplicados en la columna 'ra': Int64Index([4105, 5929, 6215, 11228], dtype='int64')
Índices de TODAS las ocurrencias de valores duplicados en la columna 'ra': Int64Index([4100, 4105, 5928, 5929, 6213, 6215, 11227, 11228], dtype='int64')

C:\ProgramData\Anaconda33\lib\site-packages\astroquery\sdss\core.py:874: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  arr = np.atleast_1d(np.genfromtxt(io.BytesIO(response.content),

Número de valores únicos: 293697
Número de valores repetidos 1 vez: 14895
Número de valores repetidos 2 veces: 1239
Número de valores repetidos 3 veces: 211
Número de valores repetidos 4 veces: 242
Número de valores repetidos 5 veces: 45
Número de valores repetidos 6 veces: 14
Número de valores repetidos 7 veces: 3
Número de valores repetidos 8 veces: 0
Número de valores repetidos 9 veces: 0
Número de valores repetidos 10 veces: 0
Valores duplicados en la columna 'ra': [146.9639  146.94999 146.63167 ... 257.38367 258.13561 257.98823]
Índices de los valores duplicados en la columna 'ra': Int64Index([     5,      7,      8,      9,     10,     12,     15,     18,
                20,     22,
            ...
            329098, 329099, 329100, 329102, 329103, 329116, 329285, 329438,
            329439, 329576],
           dtype='int64', length=19304)
Índices donde el valor de 'ra' es igual a 145.51241: Int64Index([167, 170], dtype='int64')

In [3]:
SDSS[0:3]

,specobjid,ra,dec,z,h_alpha_flux,h_beta_flux,oiii_5007_flux,nii_6548_flux,nii_6584_flux,sii_6717_flux,sii_6731_flux,oi_6300_flux,class,subclass
0,299489677444933632,146.71421,-1.041304,0.021222,472.59040,119.49560,68.39606,74.30252,224.11360,124.71150,84.18053,18.594930,b'GALAXY',b'STARFORMING'
1,299490502078654464,146.62857,-0.765137,0.064656,99.40005,25.64047,21.44437,17.10464,51.59155,35.33497,21.65778,8.490424,b'GALAXY',b'STARFORMING'
2,299491051364706304,146.96390,-0.545003,0.055988,181.52620,47.36650,11.85567,17.94872,54.13749,31.28298,19.16762,4.319232,b'GALAXY',b'STARBURST'

In [4]:
IRAS[0:3]

,galname,ra,dec,fnu_12,fnu_25,fnu_60,fnu_100,rat_12_25,rat_25_60,rat_60_100
0,00000-0359,0.644752,-3.710484,0.25,0.33,1.21,2.49,0.757576,0.272727,0.485944
1,00001+0827,0.666350,8.737270,0.25,0.28,0.70,1.19,0.892857,0.400000,0.588235
2,00003+0313,0.719551,3.504221,0.25,0.32,0.52,1.12,0.781250,0.615385,0.464286

---

Verificamos la longitud de los dos catalogos. El catalogo que tenga mas elementos será el que utilizaremos como referencia.

In [5]:
len(IRAS), len(SDSS)

(11440, 310346)

---

Ahora crearemos cuatro arreglos de `NumPy` con la información de las coordenadas celestes

In [6]:
ra1 = np.asarray(IRAS['ra'])
dec1 = np.asarray(IRAS['dec'])
ra2 = np.asarray(SDSS['ra'])
dec2 = np.asarray(SDSS['dec'])

Utilizando esos arreglos, definiremos dos 'catalogos' utilizando la función SkyCoord( ). Nótese que las coordenadas celestes ya se plantean en grados dentro de los catalogos originales

In [7]:
IRAScat = SkyCoord(ra=ra1*u.degree, dec=dec1*u.degree)
SDSScat = SkyCoord(ra=ra2*u.degree, dec=dec2*u.degree)

In [8]:
#Explora:
# type(IRAScat)
IRAScat
# cantidad_parejas = len(IRAScat)
# cantidad_parejas

<SkyCoord (ICRS): (ra, dec) in deg
    [(0.6447522 ,  -3.710484 ), (0.66634995,   8.73727  ),
     (0.7195514 ,   3.5042214), ..., (0.5100675 , -33.46959  ),
     (0.5424071 ,   2.942838 ), (0.57888216,  12.971159 )]>

In [9]:
#Explora:
# type(SDSScat)
# SDSScat
cantidad_parejasSD = len(SDSScat)
cantidad_parejasSD

310346

Ahora realizamos el crossmatching mediante el método .match_to_catalog( )

En este caso utilizaremos el catálogo SDSS como referencia y lo cruzamos con el catalogo IRAS.

El método retorna tres resultados:

- idx : indices dentro del catálogo IRAS que corresponden a los objetos mas cercanos a cada uno de los objetos del catálogo SDSS
- d2d : distancias en el cielo (2-dimensionales) entro los objetos que hacen match.
- d3d : distancias 3-dimensionales (al no haber dato 3D, se asume que todos los objetos estan a una distancia de 1 del observador)

In [10]:
idx, d2d, d3d = SDSScat.match_to_catalog_sky(IRAScat)

El tamaño del arreglo `idx` es igual al del catálogo SDSS:

In [11]:
idx.shape

(310346,)

**La pregunta que surge es ¿Cual es el match apropiado?**

La respuesta esta en el investigador, quien debe elegir (de acuerdo con sus criterios) cual es la mejor opción. 

Por ejemplo, en este caso se podría decir que el mejor match es entre el SDSS[19711] y el IRAS[5] porque la distancia entre estos objetos es de 0.75488 deg.

También puede ser posible que el investigador considere los tres objetos mas cercanos en el SDSS correspondan a un solo objeto en el IRAS. Es decir que  SDSS[19711], SDSS[19722] y SDSS[19724] sean el objeto IRAS[5].

---

Una posibilidad adicional es restringir los resultados con una distancía máxima dentro de la cual se considera que si existe un match. Por ejemplo, podemos imponer que solamente si la distancia es menor que 10 arcsec se considere la posibilidad de match.

In [12]:
max_sep = 10 * u.arcsec # Criterio de maxima distancia posible

# Creamos una mascara booleana
sep_constraint = d2d < max_sep
sep_constraint

array([False, False, False, ..., False, False, False])

In [13]:
SDSSmasked = SDSScat[sep_constraint]
IRASmasked = IRAScat[idx[sep_constraint]]

In [14]:
SDSSmasked

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51241,  0.33917087), (167.2324 ,  0.44480423),
     (169.70646,  0.61930757), ..., (242.24222, 19.823751  ),
     (245.78193, 19.004866  ), (258.72922, 35.520481  )]>

In [15]:
# Explora:

# type(SDSSmasked)
len(SDSSmasked)

1269

In [16]:
IRASmasked

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51395,  0.3375216 ), (167.2346 ,  0.44466087),
     (169.70757,  0.61774945), ..., (242.24101, 19.82251   ),
     (245.78319, 19.005993  ), (258.7292 , 35.520664  )]>

Asi se tienen solamente los objetos que hacen match y que cumplen con la ondiciónd e distancia máxima.

In [17]:
len(IRASmasked)

1269

# Tablas

## 1. Tabla general de Matches

In [18]:
SDSSmasked[0:5]

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51241,  0.33917087), (167.2324 ,  0.44480423),
     (169.70646,  0.61930757), (170.82587, -0.9224747 ),
     (169.38707, -0.18750165)]>

In [19]:
IRASmasked[0:5]

<SkyCoord (ICRS): (ra, dec) in deg
    [(145.51395,  0.3375216 ), (167.2346 ,  0.44466087),
     (169.70757,  0.61774945), (170.82668, -0.92125833),
     (169.38559, -0.1864041 )]>

In [20]:
# Crear una nueva tabla vacía para almacenar los matches combinados
matched_table = Table()

# Agregar las columnas "ra" y "dec" a la nueva tabla desde "SDSSmasked"
matched_table['ra_sdss'] = SDSSmasked.ra
matched_table['dec_sdss'] = SDSSmasked.dec

# Agregar las columnas "ra" y "dec" a la nueva tabla desde "IRASmasked"
matched_table['ra_iras'] = IRASmasked.ra
matched_table['dec_iras'] = IRASmasked.dec

In [21]:
matched_table[0:5]
# Table tiene coincidencias de 1.269 objetos

<Table length=5>
 ra_sdss    dec_sdss   ra_iras    dec_iras
   deg        deg        deg        deg
 float64    float64    float32    float32
--------- ----------- --------- -----------
145.51241  0.33917087 145.51395   0.3375216
 167.2324  0.44480423  167.2346  0.44466087
169.70646  0.61930757 169.70757  0.61774945
170.82587  -0.9224747 170.82668 -0.92125833
169.38707 -0.18750165 169.38559  -0.1864041

In [22]:
# Convertir matched_table a dataframes de pandas
df_matched_table = matched_table.to_pandas()

In [23]:
# Fusionar los dataframes en función de las columnas "ra_sdss" y "dec_sdss" de SDSS y "ra_iras" y "dec_iras" de IRAS
FusionData = pd.merge(df_matched_table, SDSS, left_on=['ra_sdss', 'dec_sdss'], right_on=['ra', 'dec'], how='inner')
FusionData = pd.merge(FusionData, IRAS, left_on=['ra_iras', 'dec_iras'], right_on=['ra', 'dec'], how='inner')

In [24]:
FusionData[0:3]

,ra_sdss,dec_sdss,ra_iras,dec_iras,specobjid,ra_x,dec_x,z,h_alpha_flux,h_beta_flux,...,galname,ra_y,dec_y,fnu_12,fnu_25,fnu_60,fnu_100,rat_12_25,rat_25_60,rat_60_100
0,145.51241,0.339171,145.513947,0.337522,299595780317014016,145.51241,0.339171,0.006379,153.8173,35.59267,...,09394+0033,145.513947,0.337522,0.35,0.50,5.16,15.08,0.700000,0.096899,0.342175
1,167.23240,0.444804,167.234604,0.444661,313129123717343232,167.23240,0.444804,0.012902,10285.9400,3250.79100,...,11063+0042,167.234604,0.444661,0.42,0.27,0.82,1.01,1.555556,0.329268,0.811881
2,169.70646,0.619308,169.707565,0.617749,314283887213701120,169.70646,0.619308,0.025391,528.2295,139.90980,...,11162+0053,169.707565,0.617749,0.25,0.50,0.75,1.79,0.500000,0.666667,0.418994

In [25]:
# Eliminar columnas duplicadas 'ra' y 'dec'
FusionData = FusionData.drop(['ra_y', 'dec_y', 'ra_x', 'dec_x'], axis=1)

In [33]:
FusionData[0:3]

,ra_sdss,dec_sdss,ra_iras,dec_iras,specobjid,z,h_alpha_flux,h_beta_flux,oiii_5007_flux,nii_6548_flux,...,class,subclass,galname,fnu_12,fnu_25,fnu_60,fnu_100,rat_12_25,rat_25_60,rat_60_100
0,145.51241,0.339171,145.513947,0.337522,299595780317014016,0.006379,153.8173,35.59267,3.656026,13.19764,...,b'GALAXY',b'STARBURST',09394+0033,0.35,0.50,5.16,15.08,0.700000,0.096899,0.342175
1,167.23240,0.444804,167.234604,0.444661,313129123717343232,0.012902,10285.9400,3250.79100,6074.062000,578.00410,...,b'GALAXY',b'STARBURST',11063+0042,0.42,0.27,0.82,1.01,1.555556,0.329268,0.811881
2,169.70646,0.619308,169.707565,0.617749,314283887213701120,0.025391,528.2295,139.90980,34.019120,62.50361,...,b'GALAXY',b'STARFORMING',11162+0053,0.25,0.50,0.75,1.79,0.500000,0.666667,0.418994

In [32]:
conteo_subclass = FusionData['subclass'].value_counts()
conteo_subclass

b'STARFORMING'    719
b'STARBURST'      416
b'AGN'             84
b'BROADLINE'       50
Name: subclass, dtype: int64

In [27]:
len(FusionData)

1269

## Conclusiones:

Se realiza un cruce del Catalogo IRAS y del catálogo SDSS, usando sus respectivos datos de "ra" y "dec" con un criterio de 10 * u.arcsec. Esto da como resultado 1.269 Objetos.